.connect {
	position: relative;
	overflow: hidden;
	display: flex;

	justify-content: center;
	align-items: center;

	width: 100%;

	> .connect-content {
		width: fit-content;
		height: fit-content;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		padding: 10rem;

		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		border-radius: var(--border-radius-medium);
		margin: 1rem auto;

		> * > form {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			> h4 {
				font-size: 2rem;
				color: var(--main-black);
			}

			> button {
				font-size: 1.5em;
			}
		}
	}
}
