body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	position: relative;
}

* {
	box-sizing: border-box;
}

#root {
	background: var(--bg-main);
	height: 100%;
	width: 100%;
	display: flex;
}
